.contacts .info {
    width: 100%;
    background: #fff;
}

.contacts .info > div {
    display: flex;
}

@media screen and (max-width: 992px) {
    .contacts .info > div:not(:first-child) {
        margin-top: 20px;
    }
}

@media screen and (min-width: 992px) {
    .contacts .info {
        display: flex;
        justify-content: space-between;
    }

    .contacts .info > div:not(:first-child) {
        margin-left: 40px;
    }

    .contacts .info .address {
        width: 40%;
    }

    .contacts .info .email {
        width: 30%;
    }

    .contacts .info .phone {
        width: 30%;
    }
}

.contacts .info > div > div {
    margin-left: 16px;
    width: calc(100% - 44px);
}

.contacts .info i {
    font-size: 20px;
    background: #ffc451;
    color: #151515;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.contacts .info h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #151515;
}

.contacts .info p {
    margin-bottom: 0;
    font-size: 14px;
    color: #484848;
}

.contacts .form {
    width: 100%;
    background: #fff;
}

.contacts .form .form-group {
    padding-bottom: 8px;
}

.contacts .form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contacts .form .error-message br + br {
    margin-top: 25px;
}

.contacts .sent-message {
    height: 100%;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contacts .form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contacts .form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contacts .form input, .contacts .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contacts .form input:focus, .contacts .form textarea:focus {
    border-color: #ffc451;
}

.contacts .form input {
    height: 44px;
}

.contacts .form textarea {
    padding: 10px 12px;
}

.contacts .form button[type=submit] {
    background: #ffc451;
    border: 0;
    padding: 10px 24px;
    color: #151515;
    transition: 0.4s;
    border-radius: 4px;
}

.contacts .form button[type=submit]:hover {
    background: #ffcd6b;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
