#project .section-icon {
    text-align: center;
    border: 1px solid #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all ease-in-out 0.3s;
}

#project .section-icon:hover {
    border-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

#project .icon {
    width: 100%;
}

#project .icon > i {
    font-size: 80px;
    padding: 20px;
    background: #ffc451;
    margin-bottom: 46px;
}
