#toc {
    overflow-y: scroll;
    position: fixed;
    top: 100px;
    height: 90vh;
    padding-right: 15px;
}

#toc * {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

#toc svg {
    font-size: 32px;
}

#toc::-webkit-scrollbar-track {
    background: #949494;
    border-radius: 100px;
}

#toc::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 100px;
}

.MuiTreeItem-content:hover {
    background: rgba(255, 196, 81, 0.12);
}

.MuiTreeItem-content.Mui-focused {
    background: rgba(255, 196, 81, 0.08);
}

.MuiTreeItem-content.Mui-selected {
    background: rgba(255, 196, 81, 0.08);
}

.MuiTreeItem-content.Mui-selected.Mui-focused {
    background: rgba(255, 196, 81, 0.2);
}

.MuiTreeItem-root {
    margin-top: 10px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
