#home {
    width: 100%;
    height: 100vh;
    background: url("/images/home-bg.jpg") top center;
    background-size: cover;
    position: relative;
}

#home:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#home .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
}

#home h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

#home h1 span {
    color: #ffc451;
}

#home h2 {
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 24px;
}

#home .icon-box {
    padding: 30px 11px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
    cursor: default;
}

#home .icon-box i {
    font-size: 32px;
    line-height: 1;
    color: #ffc451;
}

#home .icon-box h3 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

#home .icon-box:hover {
    border-color: #ffc451;
}

@media (min-width: 1024px) {
    #home {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #home {
        height: auto;
    }

    #home h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home h2 {
        font-size: 20px;
        line-height: 24px;
    }
}
