#project-home {
    width: 100%;
    height: 700px;
}

#project-main * {
    font-family: "Roboto", sans-serif;
}

#project-home:before {
    content: "";
    background: url("/images/projects/mracts/Home.jpg") top center no-repeat;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}

#project-home .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
}

#project-home h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    color: #fff;
}

#project-home h1 span {
    color: #ffc451;
}

#project-home h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: #fff;
}

#project-authors p {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    white-space: nowrap;
}

#project-overview-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

#project-overview-subtitle p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

#project-content-title  {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
}

#project-content-elements > li > p {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

#project-content-elements > li > div p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

#project-main section {
    padding: 30px 0;
    overflow: hidden;
}

.project-content-element {
    margin-top: 12px;
    margin-right: 24px;
    margin-bottom: 12px;
    border: 1px solid #ebebeb;
    transition: all ease-in-out 0.3s;
}

.project-content-element:hover {
    border-color: black;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    cursor: pointer;
}
